<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ListenerTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dogBreed</param-name>
    <param-value>Aidi</param-value>
  </context-param>
  <context-param>
    <param-name>dogName</param-name>
    <param-value>TestseT</param-value>
  </context-param>
  <servlet>
    <servlet-name>listenerTester</servlet-name>
    <servlet-class>pl.itandmusic.ListenerTester</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listenerTester</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>listenerTest</servlet-name>
  	<servlet-class>pl.itandmusic.ListenerTest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>listenerTest</servlet-name>
  	<url-pattern>/listenertest</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>pl.itandmusic.ServletContextListenerImpl</listener-class>
  </listener>
  <listener>
    <listener-class>pl.itandmusic.HttpSessionListenerImpl</listener-class>
  </listener>
  <listener>
  	<listener-class>pl.itandmusic.HttpSessionAttributeListenerImpl</listener-class>
  </listener>
</web-app>